<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="com.example.android" android:value="dummy-Test-id" />
    </application>
<!--    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"-->
<!--        android:label="Instrumented Tests via shell" />-->
</manifest>